:root {
	--main-bg: linear-gradient(90deg, rgba(20, 20, 20, 1), rgba(40, 40, 60, 1), rgba(40, 40, 60, 1), rgba(20, 20, 20, 1));
	--main-col: rgba(235, 235, 235, 1);
	--menu-bg: rgba(0, 0, 0, 0.5);
	--menu-hover: rgba(0, 0, 0, 1);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
	font-size: 16pt;
}

body {
	min-height: 100dvh;
	background-image: var(--main-bg);
	display: grid;
	grid-template: auto 1fr / 1fr;
	color: var(--main-col);
}

.loading-page {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(20, 20, 20, 1);
	z-index: 999;
	transition-duration: 250ms;
	animation: hide-loader 5000ms forwards;
}

.loading-page h2 {
	letter-spacing: 10px;
	font-size: 2rem;
}

.loading-page img {
	margin: 3rem 0;
}

.loaded {
	visibility: hidden;
	display: none;
}

.menu-container {
	width: 100%;
	grid-area: 1/1/2/2;
	display: grid;
	grid-template: 1fr / 15% auto 1fr 15%;
	position: relative;
	background-color: transparent;
}

.sticky-menu {
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--menu-bg);
}

.page-logo {
	grid-area: 1/2/2/3;
	margin: 0 2rem;
	padding: 5px;
	font-weight: bold;
	font-family: monospace;
	position: relative;
}

.menu-container ul {
	grid-area: 1/3/2/4;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	position: relative;
}

.menu-container ul li {
	margin: 0 1rem;
}

.menu-container ul li a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: var(--main-col);
	transition-duration: 250ms;
	transition-delay: 500ms;
	position: relative;
	padding: 5px;
}

.menu-container ul li a:hover {
	color: var(--menu-hover);
}

.menu-container ul li a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: var(--main-col);
	transition: all 500ms ease-in-out;
	z-index: -1;
}

.menu-container ul li a:hover::before {
	width: 100%;
}

.main {
	grid-area: 2/1/3/2;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 4rem 15rem;
}

.start {
	width: 100%;
	display: grid;
	grid-template: repeat(2, auto)/ 75% 25%;
}

.start h1 {
	grid-area: 1/1/2/2;
	font-size: 4rem;
	transform: translateY(200%);
	opacity: 0;
	animation: welcome-text 1s forwards ease-in-out;
}

.start .content {
	grid-area: 2/1/3/2;
	font-size: 1rem;
	font-weight: 600;
	transform: translateY(200%);
	opacity: 0;
	letter-spacing: 5px;
	animation: welcome-text 1s 1s forwards ease-in-out
}

.pf-img-wrap {
	grid-area: 1/2/3/3;
	display: grid;
	place-items: center;
}

.pf-img {
	max-width: 10rem;
	border-radius: 100%;
	transform: translateY(200%);
	opacity: 0;
	animation: welcome-text 1s 2s forwards ease-in-out
}

@keyframes welcome-text {
	0% {
		transform: translateY(200%);
		opacity: 0;
	}

	100% {
		transform: translateY(0%);
		opacity: 1;
	}

}

@keyframes hide-loader {
	0% {
		opacity: 1;
		display: flex;
		visibility: visible;
	}

	99% {
		opacity: 0;
		display: flex;
		visibility: collapse;
	}

	100% {
		display: none !important;
		visibility: collapse;
	}
}